{
  "openapi": "3.1.0",
  "info": {
    "title": "HashPayStream Fixed Agreement Plan API",
    "version": "1.0.0",
    "summary": "Circle x402 paid planning endpoint for fixed Arc Testnet USDC agreements",
    "description": "Returns a deterministic fixed-agreement plan after a verified $0.01 USDC x402 service payment. The endpoint does not create or fund escrow, move the proposed agreement amount, or expose payer credentials."
  },
  "servers": [{ "url": "https://hashpaystream.app", "description": "Live HashPayStream service" }],
  "externalDocs": { "description": "HashPayStream Circle marketplace documentation", "url": "https://hashpaystream.app/docs/circle-marketplace" },
  "tags": [{ "name": "Circle Agent Marketplace", "description": "Paid machine-readable agreement planning" }],
  "paths": {
    "/api/hashpaystream/v1/circle-marketplace/agreement-plan": {
      "post": {
        "operationId": "createFixedAgreementPlan",
        "summary": "Purchase a deterministic fixed-agreement plan",
        "description": "Validates the complete request before presenting an x402 payment requirement. After verified payment, returns a deterministic plan. The $0.01 service payment is separate from the proposed agreement amount and never funds escrow.",
        "tags": ["Circle Agent Marketplace"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/AgreementPlanRequest" },
              "example": {
                "template": "fixed_unlock",
                "title": "Verified research delivery",
                "description": "Deliver a cited research brief for payer review.",
                "amount": "0.10",
                "recipient": "0x1111111111111111111111111111111111111111",
                "durationSeconds": 86400,
                "cancellationWindowSeconds": 900
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Verified payment; deterministic agreement plan returned.",
            "headers": { "Cache-Control": { "schema": { "type": "string", "const": "no-store" } } },
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/AgreementPlanResponse" } } }
          },
          "400": {
            "description": "The request failed validation before any payment challenge.",
            "headers": { "Cache-Control": { "schema": { "type": "string", "const": "no-store" } } },
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
          },
          "402": {
            "description": "A valid request requires the $0.01 USDC x402 service payment.",
            "headers": {
              "PAYMENT-REQUIRED": {
                "required": true,
                "description": "Base64-encoded x402 v2 payment requirements generated by Circle Gateway.",
                "schema": { "type": "string" }
              },
              "Cache-Control": { "schema": { "type": "string", "const": "no-store" } }
            },
            "content": { "application/json": { "schema": { "type": "object", "additionalProperties": true } } }
          },
          "405": { "description": "Only POST is supported.", "headers": { "Allow": { "schema": { "type": "string", "const": "POST" } } }, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "429": { "description": "Request rate limit exceeded.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "502": { "description": "The request reached the resource without a verified Circle payment.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "503": { "description": "Circle marketplace payment configuration or processing is unavailable.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AgreementPlanRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": ["title", "description", "amount", "recipient", "durationSeconds", "cancellationWindowSeconds"],
        "properties": {
          "template": { "type": "string", "const": "fixed_unlock", "default": "fixed_unlock" },
          "title": { "type": "string", "minLength": 3, "maxLength": 120 },
          "description": { "type": "string", "minLength": 10, "maxLength": 2000 },
          "amount": { "type": "string", "description": "Positive proposed USDC agreement amount with at most six decimal places.", "pattern": "^(?:0|[1-9]\\d*)(?:\\.\\d{1,6})?$" },
          "recipient": { "type": "string", "description": "Non-zero EVM recipient address.", "pattern": "^0x[a-fA-F0-9]{40}$" },
          "durationSeconds": { "type": "integer", "minimum": 3600, "maximum": 31536000 },
          "cancellationWindowSeconds": { "type": "integer", "minimum": 0, "description": "Must be strictly less than durationSeconds." }
        }
      },
      "AgreementPlanResponse": {
        "type": "object",
        "additionalProperties": false,
        "required": ["ok", "service", "plan", "payment", "nextAction"],
        "properties": {
          "ok": { "type": "boolean", "const": true },
          "service": { "type": "string", "const": "hashpaystream-fixed-agreement-plan" },
          "plan": { "$ref": "#/components/schemas/AgreementPlan" },
          "payment": { "$ref": "#/components/schemas/VerifiedPayment" },
          "nextAction": { "type": "string", "const": "Use an approved HashPayStream pilot integration to create and fund this agreement." }
        }
      },
      "AgreementPlan": {
        "allOf": [
          { "$ref": "#/components/schemas/AgreementPlanRequest" },
          {
            "type": "object",
            "required": ["id", "template", "asset", "agreementNetwork", "fundingRequired", "marketplacePaymentFundsEscrow", "safeguards"],
            "properties": {
              "id": { "type": "string", "pattern": "^hpp_[a-f0-9]{24}$" },
              "template": { "type": "string", "const": "fixed_unlock" },
              "asset": { "type": "string", "const": "USDC" },
              "agreementNetwork": { "type": "string", "const": "eip155:5042002" },
              "fundingRequired": { "type": "string" },
              "marketplacePaymentFundsEscrow": { "type": "boolean", "const": false },
              "safeguards": { "type": "array", "minItems": 3, "items": { "type": "string" } }
            }
          }
        ]
      },
      "VerifiedPayment": {
        "type": "object",
        "additionalProperties": false,
        "required": ["verified", "amountAtomic", "network"],
        "properties": {
          "verified": { "type": "boolean", "const": true },
          "amountAtomic": { "type": "string", "description": "Settled service price in atomic USDC units." },
          "network": { "type": "string", "const": "eip155:5042002" },
          "transaction": { "type": "string", "pattern": "^0x[a-fA-F0-9]{64}$" }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "additionalProperties": false,
        "required": ["ok", "error"],
        "properties": { "ok": { "type": "boolean", "const": false }, "error": { "type": "string" } }
      }
    }
  }
}
