XLAYER_TESTNET_RPC_URL=https://testrpc.xlayer.tech/terigon
XLAYER_DEPLOYER_PRIVATE_KEY=
XLAYER_TEST_USDC_ADDRESS=
ARC_REPAYMENT_ROUTER_ADDRESS=
UPFRONT_UNDERWRITING_SIGNER=
UPFRONT_PROTECTION_SIGNER=
ARC_TESTNET_RPC_URL=https://rpc.testnet.arc.network
ARC_DEPLOYER_PRIVATE_KEY=
ARC_TEST_USDC_ADDRESS=0x3600000000000000000000000000000000000000
UPFRONT_REPAYMENT_CREDIT_SIGNER=
UPFRONT_CONTRACT_OWNER=
